/* home */
#home {
    width: 400px;
    margin: 100px auto 0;
    text-align: center;
}

#home .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#home .word-screen {
    margin: 20px 0;
    font-weight: bold;
    font-size: 30px;
}

#home #wordInput {
    margin: 0 0 10px;
}

/* complete */
#complete {
    width: 400px;
    margin: 100px auto 0;
    text-align: center;
}

#complete h2 {
    font-size: 20px;
    font-weight: bold;
}

#complete .total-score {
    font-size: 25px;
    font-weight: bold;
}

#complete .consumed-time {
    font-size: 14px;
}


